*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache

/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

/auth.json
/node_modules
/vendor

/public/hot
/public/storage
# /public/build

/storage/*
!/storage/app/
!/storage/app/public/
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs*

/bootstrap/cache/*.php

Homestead.json
Homestead.yaml
Thumbs.db
